#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
}

@media (width < 800px) {

} 

@media (width >=800px) {
  #root {
    grid-template-columns: 400px 1fr;
    gap: 20px;
  }

  .data-entry {
    grid-column: 1 2;
  }

  .resume {
    grid-column: 2 3;
  }
}